<div>
    <img class="imageLogin" src="../../assets/1685382174655.gif" alt="" >
</div>
<div>
    <h3>ثبت نام در دفترچه</h3>
</div>
<div>
    <div>
        <input type="text" placeholder=" نام و نام خانوادگی">
        <i class="fas fa-user"></i>
    </div>
    <div>
        <input type="text" placeholder=" ایمیل">
        <i class="fas fa-envelope"></i>
    </div>
    <div>
        <input type="number" placeholder=" شماره تلفن">
        <i class="fas fa-phone"></i>
    </div>
    <div>
        <input type="text" placeholder=" رمز عبور">
        <i class="fas fa-lock"></i>
    </div>
</div>
<div>
    <h5>اگر از قبل ثبت نام کردید روی <a routerLink="/login"> ورود </a>  کلیک کنید</h5>
</div>