@import '../../../navbar.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: vazir;
    src: url(../../assets/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Black.woff2);
}
.section-category-details-imageBox{
    position: relative;
    /* width: 30%; */
}
.user-Icon{
    display: flex;
    justify-content: center;
    width: 100%;
}
.user-Icon,.shopping-icon,.user-description-container-link-favorite-icon1,.share-Icon{
    padding: 0.3rem;
    position: relative;
}
.shopping-icon:hover::after{
    visibility: visible;
    opacity: 1;
}
.user-Icon:hover::after{
    visibility: visible;
    opacity: 1;
}
.share-Icon:hover::after{
    visibility: visible;
    opacity: 1;
}
.user-description-container-link-favorite-icon1:hover::after{
    visibility: visible;
    opacity: 1;
}
.shopping-icon::after{
    content:"سبد خرید";
    position: absolute;
    top: -1.7rem;
    right: -0.9rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #343a40;
    color: white;
    font-size: 0.7rem;
    width: 60px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-family: yekan;
}
.shopping-icon::after{
    content:"سبد خرید";
    position: absolute;
    top: -1.7rem;
    right: -0.9rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #343a40;
    color: white;
    font-size: 0.7rem;
    width: 60px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-family: yekan;
}
.user-description-container-link-favorite-icon1::after{
    content:" علاقمندی ";
    position: absolute;
    top: -1.7rem;
    right: -0.9rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #dc3545;
    color: white;
    font-size: 0.7rem;
    width: 70px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-family: yekan;
}
.share-Icon::after{
    content:" اشتراک گذاری";
    position: absolute;
    top: -1.7rem;
    right: -1.6rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #00a2a4;
    color: white;
    font-size: 0.7rem;
    width: 80px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-family: yekan;
}
.user-Icon::after{
    content:" نام کاربری";
    position: absolute;
    top: -1.7rem;
    right: -1.6rem;
    border-radius: 0.4rem;
    visibility: hidden;
    opacity: 0;
    background-color: #f27474;
    color: white;
    font-size: 0.7rem;
    width: 80px;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-family: yekan;
}
.section-category-details-image{
    width: 17rem;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    border-radius: 0.4rem;
}
.user-description-container{
    position: absolute;
    right: 21rem;
    top: 22.5rem;
    
}
.section-category-details-imageBox-item{
    list-style: none;
    margin-top: 2rem;
}
.section-category-details-container{
    display: flex;
}
.user-description-container-link-favorite-icon,.user-description-container-link-favorite-icon1,.share-Icon,.shopping-icon,.user-Icon{
    font-size: 1.5rem;
    color: #343a40;
    cursor: pointer;
}

.section-category-details-titleBox-title{
    font-family: vazir;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}
.section-category-details-right-container{
    width: 70%;
    display: flex;
    box-shadow: 0 0 10px #dee2e6;
    padding: 1rem;
    margin-right: 4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: 1px solid #bbb;
}
.section-category-details-titleBox-subtitleBox{
    margin-top: 1rem;
}
.section-category-details-titleBox-subtitle-paragraph{
    
    font-family: vazir;
    margin-bottom: 0;
    margin-right: 1rem;
}
.section-category-details-titleBox-subtitle{
    font-family: yekan;
    text-align: center;
    height: 17rem;
    overflow-y: scroll;
    padding: 1rem;
}
.section-category-details-options{
    box-shadow: 0 0 10px #dee2e6;
    border: 1px solid #bbb;
    border-radius: 1.5rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
}
.section-category-details-options-list{
    list-style: none;
    height: auto;
    font-family: yekan;
    padding: 0;
    border-bottom: 1px solid #bbb;
}
.section-category-details-options-title{
    font-family: vazir;
    margin-bottom: 1.5rem;
}
.section-category-details-options-item{

    word-spacing: 0.2rem;
    width: 106%;
    margin-bottom: 1rem;
}
.section-category-details-options-price {
    font-family: vazir;
    margin-bottom: 1rem;
}
.section-category-details-options-price-box{
    margin-top: 1rem;
}
.section-category-details-options-price-percent{
    color: white;
    background-color: #dc3545;
    border-radius: 0.8rem;
    padding: 0.2rem 0.4rem;
}
.section-category-details-options-prev-price{

    color: #9e9e9e;
    text-decoration: line-through;
}
.section-category-details-options-price-btn{
    
    font-family: yekan;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 100%;
    background-color: #00a2a4;
    color: white;
    border: none;
    border-radius: 1rem; 
}
.title-for-link-shopping-basket{
    font-family: yekan;
    font-size: 0.8rem;
    color: #343a40;
}
.link-for-shopping-basket{
    font-family: 'vazir';
    text-decoration: none;
    color: #00a2a4;
    font-size: 0.9rem;
    margin-right: 0.2rem;
    display: block;
}
.add-remove-shopping-basket-box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-family: vazir;
    padding: 0.3rem 0.8rem;
    box-shadow: 0 0 13px rgba(0,0,0,0.3);
    border-radius: 1rem;
}
.add-shopping-basket-box{
    color: #00a2a4;
    font-size: 1.1rem;
}
.remove-shopping-basket-box,.minus-in-shopping-basket-box{
    color: #dc3545;
    font-size: 1.1rem;
}
.add-shopping-basket-box,.remove-shopping-basket-box ,.minus-in-shopping-basket-box{
    padding:0.3rem 0.6rem;
    cursor: pointer;
}
.alert-box-for-sharingLink{

    position: absolute;
    left: 7rem;
    top: 1.2rem;
    border-radius: 0.5rem;
    background-color: #343a40;
    color: white;
    font-family: vazir;
    padding: 0.3rem 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 10rem;
    opacity: 1;
    visibility: hidden;
    transition: all 200ms ease-in;
}
.alert-box-for-sharingLink-icon{
    color: #1ad51a;
    font-size: 1.3rem;
}
