@import '../../../navbar.css';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: vazir;
    src: url(../../assets/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Black.woff2);
}
.section-category-container{
    font-family: yekan;
    margin-top: 2.5rem;
    padding: 0 4rem;
    justify-content: flex-end;
    
}
.section-category-filtered-container{
    
    border:  1px solid #d4d4d4;
    border-radius: 0.5rem;
    padding: 0 1.1rem;
    width: 17rem;
    background: white;
    position: fixed;
    bottom: 1.5rem;
}
.section-category-filtered-box-header{
    border-bottom:  1px solid #d4d4d4;
}
.section-category-filtered-price-range-box{
    display: flex;
    flex-direction: column;
}
.section-category-filtered-offer-product-box ,.section-category-filtered-send-special-product-box ,.section-category-filtered-price-title-sub-box{
    margin: 0.6rem 0;
}
.section-category-filtered-offer-product-box-text ,.section-category-filtered-send-special-title ,.section-category-filtered-price-box-title,.section-category-filtered-send-special-checkbox ,.section-category-filtered-price-box-icon ,.section-category-filtered-offer-product-box-checkbox{
    cursor: pointer;
    margin: 1rem 0;
}
.section-category-filtered-price-box-icon{
    color: #333;
    font-size: 0.9rem;
    margin-left: 1rem;
}
.section-category-filtered-box-header-title {
    font-size: 1.1rem;
    color: #333;
}
.section-category-filtered-box-header-icon{
    color: #333;
}
.checkbox-container{
    position: relative;
}
.section-category-filtered-offer-product-box-checkbox{
    position: absolute;
    visibility: hidden;
}
.checkBox-offer-lable{
    position: absolute;
    left: 0;
    width  : 50px;
    height: 1.2rem;
    cursor : pointer;
    border-radius : 25px;
    background-color: white;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #d4d4d4;
}
.section-category-filtered-offer-product-box-checkbox:checked + .checkBox-offer-lable{  
    background-color: #053a5f;
}
.section-category-filtered-offer-product-box-checkbox:checked::after{
    left: 45px;    
    background-color: #fff;
}

.section-category-filtered-offer-product-box-checkbox::after{
    content: "";
    position: absolute;
    transition: all 200ms ease;
    left: 15px;
    z-index: 2;
    width: 16px;
    height: 16px;
    visibility: visible;
    background-color: #d4d4d4;
    border-radius: 50%;
}
.checkbox-second-container{
    position: relative;
}
.section-category-filtered-send-special-checkbox{
    position: absolute;
    visibility: hidden;
}
.checkBox-send-special-lable{
    position: absolute;
    left: 0;
    width  : 50px;
    height: 1.2rem;
    cursor : pointer;
    border-radius : 25px;
    background-color: white;
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #d4d4d4;
}
.section-category-filtered-send-special-checkbox:checked + .checkBox-send-special-lable{  
    background-color: #053a5f;
}
.section-category-filtered-send-special-checkbox:checked::after{
    left: 45px;    
    background-color: #fff;
}

.section-category-filtered-send-special-checkbox::after{
    content: "";
    position: absolute;
    transition: all 200ms ease;
    left: 15px;
    z-index: 2;
    width: 16px;
    height: 16px;
    visibility: visible;
    background-color: #d4d4d4;
    border-radius: 50%;
}


input[type="range"]::-moz-range-thumb {
    border: none; 
    border-radius: 0; 
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 100%;
     margin-bottom: 1rem;
 }
 
input[type="range"]:focus {
   outline: none;
}
 
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;  
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
    appearance: none;
    margin-top: -12px; 
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
}
 

input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 

input[type="range"]::-moz-range-thumb {
    border: none; 
    border-radius: 0;
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}
 
input[type="range"]:focus::-moz-range-thumb {
   border: 1px solid #053a5f;
   outline: 3px solid #053a5f;
   outline-offset: 0.125rem; 
}
.section-category-filtered-price-range-label{
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}
.section-category-filtered-price-text-input::placeholder{
    font-size: 0.8rem;
    
}
.section-category-filtered-price-range-box{
    position: relative;
    display: none;
}
.text-in-input1{
    position: absolute;
    top: 3.4rem;
    left: 0.4rem;
    font-size: 0.8rem;
    color: #7d7d7d;
}
.text-in-input2{
    position: absolute;
    top: 8rem;
    left: 0.4rem;
    color: #7d7d7d;
    font-size: 0.8rem;
}
.section-category-filtered-price-text-input{

    margin-bottom: 0.7rem;
    outline: none;
    padding: 0.2rem 0.4rem;
    border: 1px solid #bbb;
    border-radius: 0.4rem;
    font-family: vazir;
}

.section-show-products-container{
    padding: 0 2rem;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    float: left;
    margin-left: 2rem;
    font-family: yekan;
}
.col-4{
    width: 25% !important;
}
.section-show-products-container-linkBox{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 0.4rem;
    margin:2.5rem 1rem;
    transition: all 200ms ease-in;
    text-decoration: none;
}
.section-show-products-container-linkBox:hover{
   transform: scale(1.03);
}
.productImage{
    width: 100%;
    border-radius: 0.4rem;
    height: 17rem;
}
.checkBoxActive{
    border-bottom: 2px solid blue;
}
.my-special-alert{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 1rem 0;
    font-family: vazir;
}
.photo-not-available{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin:  0 auto;
    width: 20%;
    margin-top: 5rem;
}
.section-show-products-box-title{
    margin: 1rem;
    text-align: center;
    color: #212529;
    font-size: 1.04rem;
    line-height: 2rem;
}
.show-products-second-box{
    margin:  0;
    color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-products-second-box-current-price{
    font-size: 0.83rem;
    font-family: vazir;
}
.show-products-second-box-creator{
    font-size: 0.87rem;
}
.show-products-third-box{
    text-align: end;
    margin-bottom: 0.5rem;
}
.show-products-third-box-icon{
    color: #1028ff;
    font-size: 0.8rem;
}
.show-products-third-box-prev-price{
    font-family: vazir;
    color: #7d7d7d;
    font-size: 0.83rem;
    text-decoration: line-through;
}
.offerBox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: vazir;
}
.offerBox-title{
    color: white;
    padding: 0.2rem;
    background-color: #dc3545;
    border-radius: 0.6rem;
}
.show-products-third-box-icon span{
    font-family: vazir;
    margin-right: 0.2rem;
    color: #495057;
}
.xmark-icon-menu{    
    display: none;
  }
  .navbar-list{
    justify-content: center;
    margin: 0 auto;
  }
  .navbar-menu{
    display: none;
  }
  .circle-Xmark-close-Filtered{
    display: none;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .open-filtered-box-header-icon{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.open-filter-box{
    display: none;
    cursor: pointer;
}
  .open-filter-text{
    font-family: yekan;
    margin: auto 0.5rem;
  }
  /* start navbar responsive */
  @media screen and (max-width:1070px){
    .section-show-products-container{
        padding: 0 2rem;
        width: 75%;
        margin-left: 1rem;
    }
    .section-category-filtered-container{
        right: 1rem;
    }
    .user-description-container-item{
        display: flex;
        list-style: none;
        align-items: center;
        margin-right: -2rem;
        gap: 1rem;
        margin-top: 1rem !important;
        border-bottom: 1px solid #dcdfe3;
        padding-bottom: 1rem;
        padding-right: 0.3rem;
    }
    .navbar-image-logo-box{
        width: 7rem;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 1rem auto;
      }
  }
  @media screen and (max-width:930px){
    .photo-not-available{
        margin-top: 13rem;
      }
    .section-show-products-container{       
        width: 70%;
        margin-top: 10rem;
    }
    .col-4{
        width: 35% !important;
    }
    .navbar-image-logo-box{
        width: 10rem;
        display: flex;
        align-items: center;
        padding: 0;
      }
    .searching-box{
        width: 100%;
        position: absolute;
        top: 7rem;
        background-color: #bbb;
        border-radius: 5rem;
        z-index: 5;
    }
   .searching-box-form-input{
       background-color: #efefef;
       width: 20rem;
       box-shadow: 0 0 6px rgba(0,0,0,0.3);
    }
    .myHeader{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
    }
   .navbar-menu{
    display: flex;
    margin: 0 1rem;
   }
   .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .navbar-list-box{
    opacity: 0;
    visibility: hidden;
   }
   .navbar-user-icon-box{
      width: 17%;
   }
   .user-description-container{
    width: 14rem;
    z-index: 9;
   }
   .myLinkForDashbord ,.user-description-container-link-favorite-item ,.user-description-container-link-logout-item{
    font-size: 1rem;
   }
   .navbar-menu-icon{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0.4rem;
   }
  
   .user-Icon{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.3rem;
   }
   .users-icon-container{
  
       display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
   }
   .shopping-icon{
    font-size: 1.2rem;
   }
   .cover-image{
    display: flex;
    margin: auto;
    margin-top: 14rem;
    width: 25rem;
    border-radius: 1rem;
   }
   .navbar-list{
    flex-direction: column;
    position: absolute;
    background-color: #f8f9fa;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    top: 7.2rem;
    right: 0;
    height: auto;
    position: fixed;
    border-radius: 0.5rem;
   }
   .xmark-icon-menu{    
    display: block;
    position: absolute;
    font-size: 1.7rem;
    z-index: 6;
    color: #212529;
    left: 2rem;
    top: 1rem;
    cursor: pointer;
    padding: 0.4rem;
   }
   .categories-Book-list-container{
     display: none;
     position: relative;
     top: 1rem;
     right: -2rem;
     width: 11rem;
   }
  }
  @media screen and (max-width:850px){
    .section-show-products-container{       
        margin-top: 10rem;
        padding: 0;
    }
    .section-category-filtered-container{
        width: 16rem;
    }
  }
  @media screen and (max-width:780px){
    .section-show-products-container{       
        width: 50%;
    }
    .col-4{
        width: 60% !important;
    }
  }
  @media screen and (max-width:650px){
   
    .col-4{
        width: 80% !important;
    }
  }
  @media screen and (max-width:570px){
    .photo-not-available{
        width: 15rem;
    }
    .open-filter-box{
        display: flex;
    }
    .section-category-filtered-container{
        border: 1px solid #d4d4d4;
        border-radius: 0.5rem;
        padding: 0 1.1rem;
        width: 100%;
        background: white;
        display: none;
        position: relative;
        position: fixed;
        right: 0;
        height: 100%;
        z-index: 9;
        top: 0;
    }
    .circle-Xmark-close-Filtered{
        display: block;
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        font-size: 1.5rem;
    }
    .section-show-products-container{
        width: 100%;
    }
    .col-4 {
        width: 50% !important;
    }
    .navbar-image-logo-box{
        
        width: 7rem;
        margin-top: 1.5rem;
    }
    .searching-box-form-input{
        width: 17rem;
    }
    .user-description-container{
        width: 13rem;
        z-index: 9;
        position: absolute;
        left: -3rem;
        top: 4rem;
    }
    .navbar-list-item{
        padding: 0.9rem;
        font-size: 0.8rem;
    }
    .user-description-container-item svg{
        width: 25px;
        height: 25px;
    }
    .myLinkForDashbord{
        font-size: 0.9rem !important;
    }
    .user-description-container-link-favorite-item ,.user-description-container-link-logout-item{
        font-size: 0.9rem;
    }
    .first-Row-Box{
        width: 35%;
    }
    .navbar-user-icon-box{
        width: 23%;
    }
  }
  @media screen and (max-width:480px){
    .user-description-container{
        width: 13rem;
        z-index: 9;
        position: absolute;
        left: -4rem;
        top: 4rem;
    }
    .cover-image{
        display: flex;
        margin: auto;
        margin-top: 14rem;
        width: 100%;
        border-radius: 1rem;
    }
    .searching-box{
        width: 100%;
        position: absolute;
        background-color: white;
        border-radius: 0;
        top: 7rem;
        z-index: 5;
    }
    .searching-box-form-input{
        width: 20rem;
    }
  }
  @media screen and (max-width:430px){
    .col-4{   
        width: 60% !important;
    }
    .searching-box-form-input{
        width: 20rem;
    }
    .navbar-image-logo-box {
        width: 6rem;
        margin-top: 2rem;
    }
    .navbar-menu{
        margin: 0;
    }
    .open-filter-text[_ngcontent-ng-c3026136623] {
        font-size: 0.9rem;
    }
    .navbar-user-icon-box {
        width: 25%;
    }
    .navbar-user-icon-box{
        width: 33%;
    }
    .user-description-container{
        width: 12rem;
        z-index: 9;
        position: absolute;
        left: -4rem;
        top: 4rem;
    }
  }
  @media screen and (max-width:400px){
    .searching-box-form-input{
        width: 20rem;
    }
    .navbar-list{
        padding: 0 !important;
    }
  }

  @media screen and (min-width:570px){
    .section-category-filtered-container{
        display: block !important;
    }
  }
  /* finish navbar responsive */