@import '../../../navbar.css';

@font-face {
    font-family: vazir;
    src: url(../../assets/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Black.woff2);
}
.categories-Book-container{
    display: flex;
    padding: 2rem;
    justify-content: center;
}
.cover-image{
    display: flex;
    margin: 2rem auto;
    width: 35rem;
    border-radius: 1rem;
}
.categories-Book-box{
    width: 30%;
    margin-left: 1rem;
}
.categories-Book-images{
    width: 100%; 
    border-radius: 0.4rem;
    object-fit: cover;
    margin-top: 1.5rem;
}
.categories-Book-title{
    font-family: yekan;
    margin: 2rem;
}
.categories-Book-description{
    position: relative;
}
.categories-Book-title::after{
    content: '';
    position: absolute;
    top: 2.7rem;
    right: 3rem;
    width: 3px;
    height: 2rem;
    background-color: rgb(32, 32, 216);
}
.categories-Book-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.categories-Book-link-watch{
    padding: 2rem;
    font-family: yekan;
    text-decoration: none;
    color: #00a2a4;
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.categories-Book-link-watch:hover{
   color: #2778c4;
   border-radius: 2rem;
   transform: scale(1.1);
}
/* start swiper style */
@font-face {
    font-family: vazir;
    src: url(../../assets/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Medium.woff2);
}
swiper-container{
    padding: 2rem 4rem;
}
.swiper-pagination-progressbar-fill{
    background-color: rgba(12,34,52,0.6);
}
.slide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'yekan';
    margin: 1rem ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.4rem;
}
.slide-container-images{
    width: 100%;
    border-radius: 0.5rem;
    height: 20rem;
}
.slide-container-title{
    margin-bottom: 1rem;
    padding: 0 1rem;
    text-align: center;
}
.slide-container-price{
    margin: 0;
    font-size: 0.9rem;
    color: #2778c4;
    font-family: vazir;
}
.slide-container-creator{
    font-size: 0.9rem;
}
/* finish swiper style */
.my-footer-container{
    margin-top: 4rem;
    padding: 2rem 4rem;
    font-family: 'yekan';
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.125);
}
.my-footer-header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-footer-header-image{
    width: 11rem;
    padding: 0.5rem 1rem;
}
.my-footer-header-icon-box{
    display: flex;
    gap: 3rem;
}
.my-footer-header-icon-link{
    font-size: 1.5rem;
    padding: 0.2rem 1rem;
    background-color: white;
    color: #00a2a4;
    transition: all 200ms ease-in;
    border-radius: 0.4rem;
}
.my-footer-header-icon-link:hover{
  
    background-color: #00a2a4;
    color: white;
    
}
.my-footer-section-box{
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}
.my-footer-section-box-about{
    width: 50%;
}
.my-footer-section-box-about-subtitle{
   font-size: 0.9rem;
}
.my-footer-section-box-about-title{
    position: relative;
}
.my-footer-section-box-about-title::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00a2a4;
    border-radius: 0.1rem;
    right: -31px;
    top: 15px;
    transform: rotate(134deg);
}
.my-footer-section-box-contact-title{
    position: relative;
    margin-right: 1rem;
}
.my-footer-section-box-contact-title::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #00a2a4;
    border-radius: 0.1rem;
    right: -31px;
    top: 15px;
    transform: rotate(134deg);
}
.my-footer-section-box-contact{
    width: 50%;
}

.my-footer-section-box-contact-subtitle-item{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.my-footer-section-box-contact-subtitle-item div{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.my-footer-section-box-contact-subtitle-link{
    text-decoration: none;
        color: #6c757d;
        font-size: 0.9rem;
}
.my-footer--footer-box{
    text-align: center;
}
.my-footer--footer-box-myParagraph{
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.my-footer--footer-box-myParagraph a{
    text-decoration: none;
    color: #212529;
}
.section-show-if-box-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.section-show-products-box{
    width: 100%;
    font-family: yekan;
}
.section-show-products-box-title{
    margin: 1rem;
    text-align: center;
    color: #212529;
    font-size: 1.04rem;
    line-height: 2rem;
}
.productImage{
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 20rem;
}
.section-show-products-container-linkBox{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 0.4rem;
    margin: 2rem auto;
    transition: all 200ms ease-in;
    text-decoration: none;
    width: 21%;
}
.section-show-if-box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.show-products-second-box{
    margin: 0 1rem;
    color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-products-second-box-creator ,.show-products-second-box-current-price{
    font-size: 0.87rem;
}
.show-products-second-box-current-price{
    font-family: vazir;
}
.offerBox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: vazir;
    margin: 0 1rem;
}
.offerBox-title{
    color: white;
    padding: 0.2rem;
    background-color: #dc3545;
    border-radius: 0.6rem;
}
.show-products-third-box-prev-price{
    font-family: vazir;
    color: #7d7d7d;
    font-size: 0.83rem;
    text-decoration: line-through;

}
.show-products-third-box{
    text-align: end;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.show-products-third-box-icon{

    color: #1028ff;
    font-size: 0.8rem;
}
.section-show-products-container-linkBox:hover{
    transform: scale(1.03);
}
.col-4{
    width: 20% !important;
}
.show-products-third-box-icon span{
    font-family: vazir;
    margin-right: 0.2rem;
    color: #495057;
}
.photo-not-available{

    width: 16rem;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    
}
.my-special-alert{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-family: vazir;
}
.xmark-icon-menu{    
    display: none;
}
.navbar-list{
    justify-content: center;
    margin: 0 auto;
}
.navbar-menu{
    display: none;
}

/* start navbar responsive */
@media screen and (max-width:1070px){
    .navbar-image-logo-box{
        width: 7rem;
        display: flex;
        align-items: center;
        padding: 0;
        margin: 1rem auto;
      }
}
@media screen and (max-width:930px){
    .navbar-image-logo-box{
        width: 10rem;
        display: flex;
        align-items: center;
        padding: 0;
      }
    .searching-box{
        width: 100%;
        position: absolute;
        top: 7rem;
        background-color: #bbb;
        border-radius: 5rem;
        z-index: 5;
    }
   .searching-box-form-input{
       background-color: #efefef;
       width: 20rem;
       box-shadow: 0 0 6px rgba(0,0,0,0.3);
    }
    .myHeader{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
    }
   .navbar-menu{
    display: flex;
    margin: 0 1rem;
   }
   .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .navbar-list-box{
    opacity: 0;
    visibility: hidden;
   }
   .navbar-user-icon-box{
      width: 17%;
   }
   .user-description-container{
    width: 14rem;
    z-index: 9;
   }
   .myLinkForDashbord ,.user-description-container-link-favorite-item ,.user-description-container-link-logout-item{
    font-size: 1rem;
   }
   .navbar-menu-icon{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 0.4rem;
   }

   .user-Icon{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.3rem;
   }
   .users-icon-container{

       display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
   }
   .shopping-icon{
    font-size: 1.2rem;
   }
   .cover-image{
    display: flex;
    margin: auto;
    margin-top: 14rem;
    width: 25rem;
    border-radius: 1rem;
   }
   .navbar-list{
    flex-direction: column;
    position: absolute;
    background-color: #f8f9fa;
    z-index: 5;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    top: 7.2rem;
    right: 0;
    height: auto;
    position: fixed;
    border-radius: 0.5rem;
   }
   .xmark-icon-menu{    
    display: block;
    position: absolute;
    font-size: 1.7rem;
    z-index: 6;
    color: #212529;
    left: 2rem;
    top: 1rem;
    cursor: pointer;
    padding: 0.4rem;
   }
   .categories-Book-list-container{
     display: none;
     position: relative;
     top: 1rem;
     right: -2rem;
     width: 11rem;
   }
}

@media screen and (max-width:570px){
    .navbar-image-logo-box{
        
        width: 7rem;
        margin-top: 1.5rem;
    }
    .searching-box-form-input{
        width: 17rem;
    }
    .user-description-container{
        width: 13rem;
        z-index: 9;
        position: absolute;
        left: -3rem;
        top: 4rem;
    }
    .navbar-list-item{
        padding: 0.9rem;
        font-size: 0.8rem;
    }
    .user-description-container-item svg{
        width: 25px;
        height: 25px;
    }
    .myLinkForDashbord{
        font-size: 0.9rem !important;
    }
    .user-description-container-link-favorite-item ,.user-description-container-link-logout-item{
        font-size: 0.9rem;
    }
    .first-Row-Box{
        width: 35%;
    }
    .navbar-user-icon-box{
        width: 23%;
    }
}
@media screen and (max-width:480px){
    .user-description-container{
        width: 13rem;
        z-index: 9;
        position: absolute;
        left: -4rem;
        top: 4rem;
    }
    .cover-image{
        display: flex;
        margin: auto;
        margin-top: 14rem;
        width: 100%;
        border-radius: 1rem;
    }
    .searching-box{
        width: 100%;
        position: absolute;
        background-color: white;
        border-radius: 0;
        top: 7rem;
        z-index: 5;
    }
}
@media screen and (max-width:430px){
    .searching-box-form-input{
        width: 20rem;
    }
    .navbar-user-icon-box{
        width: 33%;
    }
    .user-description-container{
        width: 12rem;
        z-index: 9;
        position: absolute;
        left: -4rem;
        top: 4rem;
    }
}
@media screen and (max-width:400px){
    .searching-box-form-input{
        width: 14rem;
    }
    .navbar-list{
        padding: 0 !important;
    }
}
/* finish navbar responsive */