
<nav class="navbar-container">
  <div class="first-Row-Box">

    <img class="navbar-image-logo-box" src="../../assets/my-logo.PNG" alt="" srcset="">
  </div>
  <div class="navbar-list-box">
      <ul class="navbar-list">
         <li class="navbar-list-item">
           <a href=""><i class="fas fa-house home-icon"></i>صفحه اصلی </a>
         </li>
         <li class="navbar-list-item">
           <a href=""><i class="fas fa-layer-group category-icon"></i>دسته بندی ها <i style="margin-right: 0.2rem;" class="fas fa-caret-down navbar-icon-down"></i></a>
         </li>
         <!-- <li class="navbar-list-item">
           <a href=""><i class="fa-regular fa-thumbs-up favorite-icon"></i>علاقه مندی های من</a>
         </li> -->
         <li class="navbar-list-item">
           <a href=""><i class="fas fa-headset support-icon"></i>ارتباط با پشتیبانی</a>
         </li>
         <li class="navbar-list-item">
           <a href=""><i class="fa-regular fa-face-smile about-icon"></i>درباره  ما</a>
         </li>
      </ul> 
  </div>
  
    <div class="navbar-user-icon-box">
        <div class="users-icon-container">
            <i class="fas fa-user user-Icon"></i>
            <i class="fas fa-caret-down navbar-icon-down"></i>
        </div>
    </div>
  </nav>


  <div class="categories-Book-description">
    <h2 class="categories-Book-title">دسته بندی کتاب ها</h2>
  </div>

  <div class="categories-Book-container">
     <div class="categories-Book-box">
       <a class="categories-Book-box-link" href="">
        <img class="categories-Book-images" src="../../assets/s-l1200.webp" alt="" srcset="">
       </a>
     </div>
     <div class="categories-Book-box">
       <a class="categories-Book-box-link" href="">
        <img class="categories-Book-images" src="../../assets/81xWLgbAUzS._AC_UF1000,1000_QL80_.jpg" alt="" srcset="">
       </a>
     </div>
     <div class="categories-Book-box">
       <a class="categories-Book-box-link" href="">
        <img class="categories-Book-images" src="../../assets/education-infographic-with-pile-of-school-books-vector-20146637.jpg" alt="" srcset="">
       </a>
      </div>
  </div>
  <div class="categories-Book-container">
    
    <div class="categories-Book-box">
      <a class="categories-Book-box-link" href="">
       <img class="categories-Book-images" src="../../assets/81j9BWTqP5L.jpg" alt="" srcset="">
      </a>
    </div>
    <div class="categories-Book-box">
      <a class="categories-Book-box-link" href="">
       <img class="categories-Book-images" src="../../assets/romance-novels-for-men-book-list.jpg" alt="" srcset="">
      </a>
    </div>
    <div class="categories-Book-box">
      <a class="categories-Book-box-link" href="">
       <img class="categories-Book-images" src="../../assets/hbg-title-9781473601178-8.webp" alt="" srcset="">
      </a>
    </div>
     
  </div>

 
  
