/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    direction: rtl; 
}

body::-webkit-scrollbar{
    background-color: rgba(234, 230, 230, 0.797);
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #32ba8c;
    border-radius: 2rem;
    width: 8px;  
}
.shopping-icon-count{
    width: 18px;
    height: 19px;
    background-color: #dc3545;
    position: absolute;
    color: white;
    font-family: 'vazir';
    display: flex;
    justify-content: center;
    top: 18px;
    right: -11px;
    align-items: center;
    border-radius: 50%;
}
.shopping-icon-count1{
    width: 16px;
    height: 16px;
    font-size: 0.82rem;
    background-color: #dc3545;
    position: absolute;
    color: white;
    font-family: 'vazir';
    display: flex;
    justify-content: center;
    right: -2px;
    bottom: 2px;
    align-items: center;
    border-radius: 50%;
}
.like-active{
    
display: flex;
align-items: center;
background-color: #dc3545;
width: 9px;
height: 9px;
border-radius: 50%;
border: none;
}
@font-face {
    font-family: yekan;
    src: url(assets/YekanV3.0/Yekan.woff);
    font-weight: bold;
}
