/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    direction: rtl; 
}

body::-webkit-scrollbar{
    background-color: rgba(234, 230, 230, 0.797);
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #32ba8c;
    border-radius: 2rem;
    width: 8px;  
}
@font-face {
    font-family: yekan;
    src: url(assets/YekanV3.0/Yekan.woff);
    font-weight: bold;
}
