<div class="home-container d-flex w-100">
    <div class="imageContainer w-50">
        <img class="imagesHome w-100 h-100" src="../../assets/image_processing20200819-7427-1h48moh.gif" alt="" srcset="">
    </div>
    <div class="description-box w-50 d-flex justify-content-center align-items-center">
          <h2 class="description-box-title mt-3">دفترچه ; برنامه ریزی آنلاین با دفترچه</h2>
          <p class="description-box-subtitle mt-3 p-4">دفترچه یک سرویسی با هدف تشویق برنامه ریزی روزانه کاربرانش تشکیل شده است از آنجایی که جوامع ما روزانه بیشتر از سرکار داشتن با دفترچه شخصی شان با گوشی و کامپیوتر خودشان سروکار دارند بنابراین میتوان به این باور رسید که دفترچه ی شخصی شان را برای انجام برنامه ریزی روزانه در سرویس ما انجام دهند</p>
          <div class="mt-5">
              <a class="description-box-link" routerLink="/login">ورود</a>
              <a class="description-box-link" routerLink="/register">ثبت نام</a>
          </div>
    </div>
</div>
