@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.imagesHome{
    margin: 2rem 0;
}
@font-face {
    font-family: yekan;
    src: url(../../assets/YekanV3.0/Yekan.woff);
    font-weight: bold;
}
.description-box{
    flex-direction: column;
}
.description-box-subtitle{
    font-family: yekan;
    text-align: center;
}
.description-box-title{
    text-align: center;
    font-family: yekan;
}
.myLogoImage{
    width: 12rem;
}
.description-box-link{
 margin: 1rem;
 background-color: rgb(15 15 152 / 67%);
 padding: 0.5rem 3.5rem;
 border-radius: 0.4rem;
 color: white;
 text-decoration: none;
 font-family: yekan;
}
@media screen and (max-width:1190px){
    .home-container{
        margin-top: 6rem;
    }
}
@media screen and (max-width:870px){
    .home-container{
        margin-top: 2rem;
        display: block !important;
    }
    .imageContainer{
        width: 100% !important;
    }
    .description-box{
        width: 100% !important;

    }
}
@media screen and (max-width:500px){
    .description-box-link{
        padding: 0.2rem 2rem;
    }
    .description-box-subtitle{
        font-size: 0.9rem;
    }
    .description-box-title{
        font-size: 1.4rem;
    }
}